[mysqld]
# Límites de recursos
innodb_buffer_pool_size=20M
innodb_log_file_size=10M
max_connections=10
table_open_cache=10
max_allowed_packet=16M

# Ajustes generales
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-authentication-plugin=mysql_native_password

# Desactivar funciones que consumen muchos recursos
performance_schema=OFF
skip-host-cache
skip-name-resolve

# Logs
log_error=/var/log/mysql/error.log
slow_query_log=0 